<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CuestGen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="fw-bold">Detalles del Banco de Preguntas</h1>
        </div>
        <div class="card-body">
            <div>
                <div class="text-start">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#generateModal">
                        Generar Cuestionario
                    </button>
                    <div class="modal fade" id="generateModal" tabindex="-1" aria-labelledby="generateModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:action="@{/questionnaire/generate}" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="generateModalLabel">Número de preguntas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Introduzca el número de preguntas que quiere que tenga el cuestionario</p>
                                        <input type="hidden" name="poolIdStr" th:value="${questionPool.id}"/>
                                        <div class="mb-3">
                                            <label for="questionCount" class="form-label">Número preguntas</label>
                                            <input type="number" class="form-control" id="questionCount"
                                                   name="questionCount"
                                                   placeholder="Introduce un número" min="1" step="1" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-secondary" th:href="@{/questionnaires/{id} (id = ${questionPool.id})}">Cuestionarios
                        generados</a>
                    <a class="btn btn-info" th:href="@{/questionpool/edit/{id}(id=${questionPool.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/questionpool/delete/{id}(id=${questionPool.id})}">Borrar</a>
                </div>
                <table class="table table-hover">

                    <tbody>
                    <tr>
                        <th class="text-secondary" scope="row">Título</th>
                        <td class="fw-semibold" th:text="${questionPool.title}">Titulo</td>
                        <th class="text-secondary" scope="row">Descripción</th>
                        <td class="fw-semibold" th:text="${questionPool.description}">Descripcion</td>
                    </tr>
                    <tr>
                        <th class="text-secondary" scope="row">Preguntas</th>
                        <td colspan="3">
                            <table class="table table-hover">

                                <thead>
                                <tr>
                                    <th scope="col">Pregunta</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Respuestas</th>
                                    <th scope="col">Respuesta correcta</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="question : ${questionPool.questions}">
                                    <td th:text="${question.text}">Pregunta</td>
                                    <td th:text="${question.type}">Tipo</td>
                                    <td class="w-auto">
                                        <table>
                                            <tbody>
                                            <tr th:each="answer : ${question.answers}">
                                                <td th:text="${answer}">Respuesta</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td th:text="${question.getCorrectAnswer()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function openModal() {
            document.getElementById('generateModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('generateModal').style.display = 'none';
        }
    </script>
</body>
</html>